.event-form-wrapper{
  background: lightBlue;
}

.event-form{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.note-input{
  margin-top: 20px;
}



.add-events-button{
  background: orange;
  margin-top: 20px;
  width: 100px;
  height: 50px;
}
